<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <section>
        <p th:text="${article.title}"/>
        <p th:text="${article.description}"/>
        <a th:href="@{/files/{id}(id=${article.fileId})}">Download</a>
    </section>
    <section>
        <form th:if="${saved}" th:action="@{/articles/unsave-for-later}" method="post">
            <input type="hidden" name="id" th:value="${article.id}">
            <input type="submit" value="Delete bookmark">
        </form>
        <form th:unless="${saved}" th:action="@{/articles/save-for-later}" method="post">
            <input type="hidden" name="id" th:value="${article.id}">
            <input type="submit" value="Save for later">
        </form>
    </section>
    <section>
        <div>
            <form th:action="@{/rate}" method="post">
                <input type="hidden" name="rating" value="1">
                <input type="hidden" name="articleId" th:value="${article.id}">
                <input type="submit" value="1">
            </form>
            <form th:action="@{/rate}" method="post">
                <input type="hidden" name="rating" value="2">
                <input type="hidden" name="articleId" th:value="${article.id}">
                <input type="submit" value="2">
            </form>
            <form th:action="@{/rate}" method="post">
                <input type="hidden" name="rating" value="3">
                <input type="hidden" name="articleId" th:value="${article.id}">
                <input type="submit" value="3">
            </form>
            <form th:action="@{/rate}" method="post">
                <input type="hidden" name="rating" value="4">
                <input type="hidden" name="articleId" th:value="${article.id}">
                <input type="submit" value="4">
            </form>
            <form th:action="@{/rate}" method="post">
                <input type="hidden" name="rating" value="5">
                <input type="hidden" name="articleId" th:value="${article.id}">
                <input type="submit" value="5">
            </form>
        </div>
    </section>
</body>
</html>