<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<section>
    <form th:action="@{/articles/find}">
        <input name="pattern" placeholder="Search">
        <input type="submit">
    </form>
</section>
<section>
    <h1>Recommended</h1>
    <p th:if="${recommended.isEmpty()}">Nothing there yet. Rate articles for more!</p>
    <div th:each="recommendation : ${recommended}">
        <a th:text="${recommendation.title}" th:href="@{/articles/{id}(id=${recommendation.id})}">Article</a>
    </div>
</section>
<section>
    <h1>Recent</h1>
    <div th:each="article : ${articles}">
        <a th:text="${article.title}" th:href="@{/articles/{id}(id=${article.id})}">Article</a>
    </div>
</section>
</body>
</html>