<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal info</title>
</head>
<body>
<section>
  <p th:text="${user.name}"></p>
  <p th:text="${user.surname}"></p>
  <p th:text="${user.email}"></p>
</section>
<section>
    <div th:each="article : ${savedArticles}">
        <a th:text="${article.title}" th:href="@{/articles/{id}(id=${article.id})}">Article</a>
    </div>
</section>
</body>
</html>